/* ===== Footer ===== */

footer {
  padding: 30px;
  background-color: #398fb0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

footer p {
  font-size: 20px;
}

.footer-content {
  width: 300px;
}

.footer-content > h1 {
  font-size: 48px;
}

.footer-content > h1,
.footer-content > p:nth-of-type(1),
.footer-content > p:nth-of-type(3) {
  margin-bottom: 20px;
}

.email,
.phone {
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
}

.phone > p,
.email > p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-img {
  height: 500px;
  width: 500px;
  overflow: hidden; /* optional: hides any overflow from the image */
}

.footer-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

@media (max-width: 1000px) and (min-width: 500px) {
  /* ===== Footer ===== */

  footer {
    gap: 20px;
  }

  .footer-content {
    width: 200px;
  }

  .footer-content > h1 {
    font-size: 32px;
  }

  footer p {
    font-size: 16px;
  }

  .footer-img {
    height: 300px;
    width: 200px;
  }
}

@media (max-width: 500px) {
  /* ===== Footer ===== */

  footer {
    flex-direction: column;
    gap: 20px;
  }

  .footer-content {
    width: 200px;
  }

  .footer-content > h1 {
    font-size: 32px;
  }

  footer p {
    font-size: 16px;
  }

  .footer-links {
    justify-content: center;
  }

  .footer-img {
    height: 300px;
    width: 200px;
  }
}
