/* ===== Header ===== */
header {
  position: relative;
  overflow: hidden; /* hides the rotated div overflow */
  padding: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.rotated-background {
  background-color: #398fb0;
  position: absolute;
  height: 75vh;
  width: 100%;
  z-index: -1;
  transform: skewY(-10deg);
  top: -25vh;
}

.about-img {
  background-image: url("./assets/pexels-simon-robben-55958-614810.jpg");
  background-size: cover;
  background-position: center;

  height: 400px;
  width: 400px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
}

.about-img > h1 {
  align-self: end;
  font-size: 48px;
  color: white;
}

.about-me {
  background-color: white;
  border: 2px solid black;
  width: 700px;
  padding: 30px 20px;

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.about-me > h1 {
  font-size: 42px;
  margin-bottom: 30px;
}

.about-me > p {
  font-size: 24px;
  margin-bottom: 30px;
  color: rgb(65, 64, 64);
}

.about-me > .header-links {
  display: flex;
  justify-content: end;
  gap: 10px;
}

@media (max-width: 1000px) and (min-width: 500px) {
  /* ===== Header ===== */
  header {
    padding: 150px 50px 50px;
  }

  .placeholder {
    display: block;
    width: calc(200px + max(0px, 700px - 100vw));
    max-width: 250px;
    height: 200px;
    float: left;
  }

  .about-img {
    display: block;
    position: absolute;
    top: 70px;
    left: max(calc(50% - 300px), 50px);
    height: 300px;
    width: 250px;
  }

  .about-img > h1 {
    position: absolute;
    top: 10px;
    left: 40%;
    width: 500px;
    font-size: 48px;
  }

  .about-me {
    width: 500px;
    padding: 10px 5px;
  }
}

@media (max-width: 500px) {
  /* ===== Header ===== */
  header {
    padding: 10px;
    flex-direction: column;
  }

  .rotated-background {
    transform: skewY(-20deg);
    top: -50vh;
  }

  .about-img {
    height: 300px;
    width: 250px;
    padding: 5px;
  }

  .about-img > h1 {
    font-size: 48px;
  }

  .about-me {
    background-color: white;
    border: none;
    box-shadow: none;
    width: 300px;
    padding: 10px 5px;
  }

  .about-me > h1 {
    text-align: center;
  }

  .about-me > .header-links {
    justify-content: center;
  }
}
