* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main svg {
  width: 30px;
  height: 30px;
}

header svg {
  width: 40px;
  height: 40px;
}

footer svg {
  width: 40px;
  height: 40px;
}

html,
body {
  width: 100%;
  min-height: 100%;
  height: auto; /* let it expand */
}

body {
  display: flex;
  flex-direction: column;
}

.placeholder {
  display: none;
}

@media (max-width: 1000px) and (min-width: 500px) {
  main svg {
    width: 20px;
    height: 20px;
  }

  header svg {
    width: 30px;
    height: 30px;
  }

  footer svg {
    width: 22px;
    height: 22px;
  }
}

@media (max-width: 500px) {
  main svg {
    width: 20px;
    height: 20px;
  }

  header svg {
    width: 30px;
    height: 30px;
  }

  footer svg {
    width: 22px;
    height: 22px;
  }
}
