* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main svg {
  width: 30px;
  height: 30px;
}

header svg {
  width: 40px;
  height: 40px;
}

footer svg {
  width: 40px;
  height: 40px;
}

html,
body {
  width: 100%;
  min-height: 100%;
  height: auto; /* let it expand */
}

body {
  display: flex;
  flex-direction: column;
}

.placeholder {
  display: none;
}

/* ===== Header ===== */

header {
  position: relative;
  overflow: hidden; /* hides the rotated div overflow */
  padding: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.rotated-background {
  background-color: #398fb0;
  position: absolute;
  height: 75vh;
  width: 100%;
  z-index: -1;
  transform: skewY(-10deg);
  top: -25vh;
}

.about-img {
  background-image: url("./assets/pexels-simon-robben-55958-614810.jpg");
  background-size: cover;
  background-position: center;

  height: 400px;
  width: 400px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
}

.about-img > h1 {
  align-self: end;
  font-size: 48px;
  color: white;
}

.about-me {
  background-color: white;
  border: 2px solid black;
  width: 700px;
  padding: 30px 20px;

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.about-me > h1 {
  font-size: 42px;
  margin-bottom: 30px;
}

.about-me > p {
  font-size: 24px;
  margin-bottom: 30px;
  color: rgb(65, 64, 64);
}

.about-me > .header-links {
  display: flex;
  justify-content: end;
  gap: 10px;
}

/* ===== Main ===== */

main {
  flex: 1;
  padding: 100px;
}

main > h1 {
  margin-bottom: 20px;
  font-size: 48px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  height: 500px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.card > .project-screenshot {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 42px;
}
.card:nth-child(1) > .project-screenshot {
  background-color: rgb(148, 42, 33);
}
.card:nth-child(2) > .project-screenshot {
  background-color: rgb(124, 118, 198);
}
.card:nth-child(3) > .project-screenshot {
  background-color: rgb(102, 141, 82);
}
.card:nth-child(4) > .project-screenshot {
  background-color: rgb(186, 105, 177);
}
.card:nth-child(5) > .project-screenshot {
  background-color: rgb(208, 146, 69);
}
.card:nth-child(6) > .project-screenshot {
  background-color: rgb(94, 160, 207);
}

.card-content {
  height: 40%;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 1fr 40px 40px;
  grid-template-rows: 50px 1fr;
  gap: 10px;
}

.card-content > p {
  grid-column: 1 / 4;
}

/* ===== Footer ===== */

footer {
  padding: 30px;
  background-color: #398fb0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

footer p {
  font-size: 20px;
}

.footer-content {
  width: 300px;
}

.footer-content > h1 {
  font-size: 48px;
}

.footer-content > h1,
.footer-content > p:nth-of-type(1),
.footer-content > p:nth-of-type(3) {
  margin-bottom: 20px;
}

.email,
.phone {
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
}

.phone > p,
.email > p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-img {
  height: 500px;
  width: 500px;
  overflow: hidden; /* optional: hides any overflow from the image */
}

.footer-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

@media (max-width: 1000px) and (min-width: 500px) {
  main svg {
    width: 20px;
    height: 20px;
  }

  header svg {
    width: 30px;
    height: 30px;
  }

  footer svg {
    width: 22px;
    height: 22px;
  }

  /* ===== Header ===== */
  header {
    padding: 150px 50px 50px;
  }

  .placeholder {
    display: block;
    width: calc(200px + max(0px, 700px - 100vw));
    max-width: 250px;
    height: 200px;
    float: left;
  }

  .about-img {
    display: block;
    position: absolute;
    top: 70px;
    left: max(calc(50% - 300px), 50px);
    height: 300px;
    width: 250px;
  }

  .about-img > h1 {
    position: absolute;
    top: 10px;
    left: 40%;
    width: 500px;
    font-size: 48px;
  }

  .about-me {
    width: 500px;
    padding: 10px 5px;
  }

  /* ===== Main ===== */

  main {
    padding: 10px;
  }

  .cards {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  /* ===== Footer ===== */

  footer {
    gap: 20px;
  }

  .footer-content {
    width: 200px;
  }

  .footer-content > h1 {
    font-size: 32px;
  }

  footer p {
    font-size: 16px;
  }

  .footer-img {
    height: 300px;
    width: 200px;
  }
}

@media (max-width: 500px) {
  main svg {
    width: 20px;
    height: 20px;
  }

  header svg {
    width: 30px;
    height: 30px;
  }

  footer svg {
    width: 22px;
    height: 22px;
  }

  /* ===== Header ===== */
  header {
    padding: 10px;
    flex-direction: column;
  }

  .rotated-background {
    transform: skewY(-20deg);
    top: -50vh;
  }

  .about-img {
    height: 300px;
    width: 250px;
    padding: 5px;
  }

  .about-img > h1 {
    font-size: 48px;
  }

  .about-me {
    background-color: white;
    border: none;
    box-shadow: none;
    width: 500px;
    padding: 10px 5px;
  }

  .about-me > h1 {
    text-align: center;
  }

  .about-me > .header-links {
    justify-content: center;
  }

  /* ===== Main ===== */

  main {
    padding: 10px;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  /* ===== Footer ===== */

  footer {
    flex-direction: column;
    gap: 20px;
  }

  .footer-content {
    width: 200px;
  }

  .footer-content > h1 {
    font-size: 32px;
  }

  footer p {
    font-size: 16px;
  }

  .footer-links {
    justify-content: center;
  }

  .footer-img {
    height: 300px;
    width: 200px;
  }
}
